.characters-cards-wrapper {
    display: flex;
    flex-wrap: wrap;

    .character-card {
        position: relative;
        width: 195px;
        margin-right: 5px;

        img {
            height: auto;
            width: 195px;
        }

        .character-info-wrapper {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            transition: 0.5s;
        }

        &:hover {
            .character-info-wrapper {
                background-color: rgba(255, 255, 255, 0.8);
                color: #000;
            }
        }
    }

    &.related-characters {
        .character-card {
            width: 145px;

            img {
                width: 145px;
            }
        }
    }

}