.header {
    display: flex;
    align-items: center;

    h1, p {
        margin: 0;
    }
}

.logo {
    position: relative;
    padding-right: 20px;
    img {
        width: 150px;
        height: auto;
    }
}