
body {
    font-family: Arial, Helvetica, sans-serif;
}

.content-center {
    text-align: center;
}

.flex-auto {
    flex: auto;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

a {
    &.btn  {
        color: #fff;
    }
}


.load-more {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        cursor: pointer;
    }

}

